In [37]:
import pandas as pd
import numpy as np

PREDHS = pd.read_csv("datos/Encuestas_DHS_Indicadores_Familia_Colombia.csv")
PREDHS.head()

,ISO3,DataId,Indicator,Value,Precision,DHS_CountryCode,CountryName,SurveyYear,SurveyId,IndicatorId,...,IsPreferred,SDRID,RegionId,SurveyYearLabel,SurveyType,DenominatorWeighted,DenominatorUnweighted,CILow,CIHigh,LevelRank
0,#country+code,#meta+id,#indicator+name,#indicator+value+num,#indicator+precision,NaN,#country+name,#date+year,#survey+id,#indicator+code,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,COL,78894,Total fertility rate 15-49,3.2,1,CO,Colombia,1986,CO1986DHS,FE_FRTR_W_TFR,...,1.0,FEFRTRWTFR,NaN,1986.0,DHS,NaN,NaN,NaN,NaN,NaN
2,COL,78758,Married women currently using any method of co...,64.8,1,CO,Colombia,1986,CO1986DHS,FP_CUSM_W_ANY,...,1.0,FPCUSMWANY,NaN,1986.0,DHS,2850.0,2848.0,NaN,NaN,NaN
3,COL,78759,Married women currently using any modern metho...,52.4,1,CO,Colombia,1986,CO1986DHS,FP_CUSM_W_MOD,...,1.0,FPCUSMWMOD,NaN,1986.0,DHS,2850.0,2848.0,NaN,NaN,NaN
4,COL,79065,Median age at first marriage [Women]: 25-49,20.8,1,CO,Colombia,1986,CO1986DHS,MA_AAFM_W_M2B,...,1.0,MAAAFMWM2B,NaN,1986.0,DHS,NaN,NaN,NaN,NaN,NaN

# Exploraci√≥n Inicial de los Datos üîé
Para analizar la informaci√≥n de mi dataset, su tama√±o y las columnas.

In [38]:
PREDHS.info()
PREDHS.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ISO3                    138 non-null    object
 1   DataId                  138 non-null    object
 2   Indicator               138 non-null    object
 3   Value                   138 non-null    object
 4   Precision               138 non-null    object
 5   DHS_CountryCode         137 non-null    object
 6   CountryName             138 non-null    object
 7   SurveyYear              138 non-null    object
 8   SurveyId                138 non-null    object
 9   IndicatorId             138 non-null    object
 10  IndicatorOrder          137 non-null    float64
 11  IndicatorType           137 non-null    object
 12  CharacteristicId        137 non-null    float64
 13  CharacteristicOrder     137 non-null    float64
 14  CharacteristicCategory  137 non-null    object
 15  CharacteristicLabel     137 non-null    object
 16  ByVariableId            138 non-null    object
 17  ByVariableLabel         60 non-null     object
 18  IsTotal                 137 non-null    float64
 19  IsPreferred             137 non-null    float64
 20  SDRID                   137 non-null    object
 21  RegionId                0 non-null      float64
 22  SurveyYearLabel         137 non-null    float64
 23  SurveyType              137 non-null    object
 24  DenominatorWeighted     82 non-null     float64
 25  DenominatorUnweighted   82 non-null     float64
 26  CILow                   29 non-null     float64
 27  CIHigh                  29 non-null     float64
 28  LevelRank               0 non-null      float64
dtypes: float64(12), object(17)
memory usage: 31.4+ KB

(138, 29)

In [39]:
PREDHS.head()

,ISO3,DataId,Indicator,Value,Precision,DHS_CountryCode,CountryName,SurveyYear,SurveyId,IndicatorId,...,IsPreferred,SDRID,RegionId,SurveyYearLabel,SurveyType,DenominatorWeighted,DenominatorUnweighted,CILow,CIHigh,LevelRank
0,#country+code,#meta+id,#indicator+name,#indicator+value+num,#indicator+precision,NaN,#country+name,#date+year,#survey+id,#indicator+code,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,COL,78894,Total fertility rate 15-49,3.2,1,CO,Colombia,1986,CO1986DHS,FE_FRTR_W_TFR,...,1.0,FEFRTRWTFR,NaN,1986.0,DHS,NaN,NaN,NaN,NaN,NaN
2,COL,78758,Married women currently using any method of co...,64.8,1,CO,Colombia,1986,CO1986DHS,FP_CUSM_W_ANY,...,1.0,FPCUSMWANY,NaN,1986.0,DHS,2850.0,2848.0,NaN,NaN,NaN
3,COL,78759,Married women currently using any modern metho...,52.4,1,CO,Colombia,1986,CO1986DHS,FP_CUSM_W_MOD,...,1.0,FPCUSMWMOD,NaN,1986.0,DHS,2850.0,2848.0,NaN,NaN,NaN
4,COL,79065,Median age at first marriage [Women]: 25-49,20.8,1,CO,Colombia,1986,CO1986DHS,MA_AAFM_W_M2B,...,1.0,MAAAFMWM2B,NaN,1986.0,DHS,NaN,NaN,NaN,NaN,NaN

### Buscando valores nulos

In [40]:
PREDHS.isnull().sum()

ISO3                        0
DataId                      0
Indicator                   0
Value                       0
Precision                   0
DHS_CountryCode             1
CountryName                 0
SurveyYear                  0
SurveyId                    0
IndicatorId                 0
IndicatorOrder              1
IndicatorType               1
CharacteristicId            1
CharacteristicOrder         1
CharacteristicCategory      1
CharacteristicLabel         1
ByVariableId                0
ByVariableLabel            78
IsTotal                     1
IsPreferred                 1
SDRID                       1
RegionId                  138
SurveyYearLabel             1
SurveyType                  1
DenominatorWeighted        56
DenominatorUnweighted      56
CILow                     109
CIHigh                    109
LevelRank                 138
dtype: int64

Para conocer el porcentaje de valores nulos por columna.

In [41]:
nvalorespct = PREDHS.isnull().mean() * 100
nvalorespct

ISO3                        0.000000
DataId                      0.000000
Indicator                   0.000000
Value                       0.000000
Precision                   0.000000
DHS_CountryCode             0.724638
CountryName                 0.000000
SurveyYear                  0.000000
SurveyId                    0.000000
IndicatorId                 0.000000
IndicatorOrder              0.724638
IndicatorType               0.724638
CharacteristicId            0.724638
CharacteristicOrder         0.724638
CharacteristicCategory      0.724638
CharacteristicLabel         0.724638
ByVariableId                0.000000
ByVariableLabel            56.521739
IsTotal                     0.724638
IsPreferred                 0.724638
SDRID                       0.724638
RegionId                  100.000000
SurveyYearLabel             0.724638
SurveyType                  0.724638
DenominatorWeighted        40.579710
DenominatorUnweighted      40.579710
CILow                      78.985507
CIHigh                     78.985507
LevelRank                 100.000000
dtype: float64

## Limpieza de Datos üßπ
**Problemas Identificados:**
1. Columnas con demasiados valores nulos:
- **RegionId y LevelRank:** tienen 100% de valores nulos, los eliminar√© ya que no aportan ninguna informaci√≥n relevante.
- **ByVariableLabel**: tiene 56.52% de valores nulos. 
- **DenominatorWeighted y DenominatorUnweighted:** tienen 40.58% de valores nulos.
-  **CILow y CIHigh:** tienen 78.99% de valores nulos.
- **DHS_CountryCode, IndicatorOrder, IndicatorType, CharacteristicId, CharacteristicOrder:** tienen valores nulos en menos del 1%, los voy a inputar.